:root {
  --clr1: #215000;
  --clr2: #2a6104;
  --clr3: #4c9e13;
  --clr4: #5bb11f;
  /* logos */
  --github: #1b1e23;
  --gitlab: #e24329;
  --arch: #1793d1;
  --golang: #69d7e2;
  --devhints: #7565bb;
  --stack-ex: #2d4d9b;
  --stack-of: #f48024;
  --rust: #9d4a29;
  --gmail: #f14336;
  --gdrive: #03a45e;
  --gtranslate: #5091f5;
  --youtube: #ff0000;
  --twitter: #179cf0;
  --reddit: #ff4300;
  --react: #61dbfb;
  --js: #f7e018;
}

body {
  margin: 0;
  padding: 0;
  transition: all 500ms linear;
}

.root {
  background-color: var(--clr1);
  color: var(--clr3);
  font-size: 2rem;
  height: 100vh;
}

.bookmarks-table {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  max-height: 90vh;
  max-width: 90vw;
}
.bookmark-set {
  background-color: var(--clr2);
  padding: 1rem;
}
.bookmark-inner-container {
  display: flex;
  flex-direction: column;
  height: calc(100%+0.1rem);
}
.bookmark-title {
  color: var(--clr3);
  font-weight: 700;
  font-size: 2rem;
}
a.bookmark,
a.bookmark:visited {
  color: var(--clr4);
  padding: 0.25rem;
}
a.bookmark:hover {
  background-color: var(--clr3);
  /* color: var(--clr); */
  padding: 0.35rem 0.25rem;
}
