:root {
  --bg: #282828;
  --fg: #ebdbb2;
  --fgd: #d5c4a1;
  --fgw: #f2e5bc;
  --bg1: #3c3836;
  --bg2: #504945;
  --bg3: #665c54;
  --blue: #458588;
  --blue2: #83a598;
  --red: #fb4934;

  /* logos */
  --github: #1b1e23;
  --gitlab: #e24329;
  --arch: #1793d1;
  --golang: #69d7e2;
  --devhints: #7565bb;
  --stack-ex: #2d4d9b;
  --stack-of: #f48024;
  --rust: #9d4a29;
  --gmail: #f14336;
  --gdrive: #03a45e;
  --gtranslate: #5091f5;
  --youtube: #ff0000;
  --twitter: #179cf0;
  --reddit: #ff4300;
  --react: #61dbfb;
  --js: #f7e018;
}

body {
  background-color: var(--bg);
}
